<style>
    .return-button,
    .another-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }
</style>
<button onclick="goBack()" class="return-button">Назад</button>
<script>
    // JavaScript функция для возврата на предыдущую страницу
    function goBack() {
        window.history.back(); // Используем метод window.history.back() для перехода назад
    }
</script>
